In [92]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [95]:
from utils import get_player_data

import pandas as pd

In [94]:
player_data, metadata = get_player_data.exe()

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [C:\Users\voyno\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache

AttributeError: 'NoneType' object has no attribute 'find_elements'

In [81]:
first_page = player_data[0]
for i, player in enumerate(first_page):
    print(player)

    if i > 5:
        break

['Cooper Kupp', 'LAR', 'WR']
['Josh Allen', 'Buf', 'QB']
['Justin Herbert', 'LAC', 'QB']
['Tom Brady', 'TB', 'QB']
['Jonathan Taylor', 'Ind', 'RB']
['Patrick Mahomes', 'KC', 'QB']
['Davante Adams', 'LV', 'WR']

In [82]:
data_len = metadata['table_length']
master_dataset = []

for page in player_data:
    page_data = [[] for i in range(data_len)]
    for i, data_set in enumerate(page):
        for data in data_set:
            page_data[i % data_len].append(data)
    
    for player in page_data:
        if len(player) == 0:
            continue
        if len(player) == 20:
            player.pop(1)
        master_dataset.append(player)

In [87]:
df = pd.DataFrame(master_dataset, columns=metadata['columns'])
df.head(5)

,PLAYER,TYPE,ACTION,C/A,YDS,TD,INT,CAR,YDS,TD,REC,YDS,TD,TAR,2PC,FUML,TD,FPTS,AVG
0,Cooper Kupp,LAR,WR,0/1,0,0,0,4,18,0,145,1947,16,191,0,0,0,439.5,25.9
1,Josh Allen,Buf,QB,409/646,4407,36,15,122,763,6,0,0,0,0,0,3,0,402.58,23.7
2,Justin Herbert,LAC,QB,443/672,5014,38,15,63,302,3,0,0,0,0,0,1,0,380.76,22.4
3,Tom Brady,TB,QB,485/719,5316,43,12,28,81,2,0,0,0,0,0,3,0,374.74,22.0
4,Jonathan Taylor,Ind,RB,0/0,0,0,0,332,1811,18,40,360,2,51,0,2,0,373.1,21.9

In [90]:
lowercase_col_mapper = {col: col.lower() for col in df.columns}
rename_mapper = {
    "type": "team",
    "action": "position"
}

# lowercase col names
df.rename(
    lowercase_col_mapper, 
    axis=1, 
    inplace=True)

# updating team, position col names
df.rename(
    rename_mapper, 
    axis=1, 
    inplace=True)

df.head()

,player,team,position,c/a,yds,td,int,car,yds,td,rec,yds,td,tar,2pc,fuml,td,fpts,avg
0,Cooper Kupp,LAR,WR,0/1,0,0,0,4,18,0,145,1947,16,191,0,0,0,439.5,25.9
1,Josh Allen,Buf,QB,409/646,4407,36,15,122,763,6,0,0,0,0,0,3,0,402.58,23.7
2,Justin Herbert,LAC,QB,443/672,5014,38,15,63,302,3,0,0,0,0,0,1,0,380.76,22.4
3,Tom Brady,TB,QB,485/719,5316,43,12,28,81,2,0,0,0,0,0,3,0,374.74,22.0
4,Jonathan Taylor,Ind,RB,0/0,0,0,0,332,1811,18,40,360,2,51,0,2,0,373.1,21.9

In [91]:
df.to_csv('data/player_stats_yearly.csv', index=False)